

.footer{
  height: 100px;
  padding: 30px;
  background: #F1F1F1;
  margin-top: 30px;
  
}

.main-content {
  padding-bottom: 50px;
}
.add-enfermedad {
}

.ui-selectonemenu .ui-selectonemenu-trigger {
  padding: 0px;
}



.ui-selectonemenu{
  padding: 0px;
}

.ui-radiobutton .ui-radiobutton-box{
  box-sizing: content-box;
}

.ui-selectoneradio label{
margin-left: 4px;
margin-right: 10px;
}